
*{margin: 0;
    padding: 0;}  
body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;}
a {
    text-decoration:none;
    color: #888888;}
a, input, button {
    font-family: inherit;}
li {
    list-style-type:none;}
.center {
    padding-left: calc(50% - 600px);
    padding-right:  calc(50% - 600px);}
.top {
    background: rgba(196, 196, 196, 1);
    background-image: url(./img/bg-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 735px;
    }
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0px 16px 0px;
    border-bottom: 0.5px solid #FFFFFFCC;
    flex-wrap: wrap;
    align-items: center;}
.header__img-logo {
    width: 198px;
    height: 44px;
}
.header__img {
    display: block;}
.header__input {
    outline: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 20px;
    background: none;
    width: 288px;
    height: 41px;
    box-sizing: border-box;
    padding-left: 32px;
    padding-right: 32px;}

.header__input::placeholder { 
    color: white;
    font-size: 16px;
    font-weight: 400;}
.nav {
    display: flex;
    align-items: center;
    gap: 32px;

        &-mob {
        display: none;}
    }
.nav__link {
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    display: block;}

.nav__link-cart {
    position: relative;}

.nav__link:hover {
    border-bottom: 1px solid black;
    color: black;
    transition: 1s;}

// Окно корзины на главной

.nav__link-cart {
    position: relative;
    z-index: 1;}

.nav__cart {
    position: relative;}

.cart-toggle {
    display: none;}

.cart-toggle:checked + .nav__link-cart + .cart-popup {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;}

.cart-popup {
    width: 573px;
    height: 480px;
    position: absolute;
    background-color: white;
    transform: translateY(10px);
    opacity: 0; 
    transition: all 0.3s ease;
    right: 0;
    top: 36px;
    z-index: 9999;
    pointer-events: none;
            
        &-inside {
            margin: 40px 48px 40px 48px;}

        &__item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            margin: 24px 0px 24px 0;}

        &__item-top {
            padding-bottom: 24px;
            border-bottom:  0.5px solid rgba(202, 205, 216, 1);}

        &__left {
            display:flex;
            gap: 32px; }

        &__img {
            width: 144px;
            height: 144px;}

        &__info {
            display: flex;
            flex-direction: column;
            gap: 12px;

            &-title {
                font-size: 24px;
                font-weight: 500;}
            
            &-text {
                font-size: 14px;
                font-weight: 400;
                color: rgba(136, 136, 136, 1);}

            &-price {
                font-size: 16px;
                font-weight: 500;}
        }
        
    &__link-box {
        gap: 24px;
        display: flex;
        flex-direction: row;
        margin-top: 42px;}

    &__links {
            color: rgba(0, 0, 0, 1);
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0px;
            text-align: center;
            text-decoration-line: underline;}

    &__links:hover {
        color: rgba(136, 136, 136, 1);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;    }

    &-input {
        border-radius: 6px;
        background: rgba(247, 246, 246, 1);
        width: 71px;
        height: 17px * 3;
        border: none;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
        text-align: center;}

    &-total {
        display: flex;
        justify-content: space-between;
        align-items: center;}

    &-price {
        color: var(--Black / 90, rgba(0, 0, 0, 1));
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: -3%;
        text-align: center;
    }

    &-button {
        width: 207px;
        height: 40px;
        box-sizing: border-box;
        border: 1px solid black;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        color: rgba(0, 0, 0, 1);}

    &-button:hover {
        background: black;
        color: white;
        transition: 1s;}
       
}




.top__content {
    margin-top: 64px;
    color: #FFFFFF;}
.top__title {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin-bottom: 16px;
    max-width: 792px;}
.top__lozung {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;}
.top__link {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration-line: underline;}
.top__link:hover {
    text-decoration-line: underline;
    color: black;
    transition: 1s;}

.for__content {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr)}
.for__item {
    height: 415px;
    grid-column: span 4;
    grid-row: span 1;
    display: flex;
    align-items: center;
    justify-content: center;}
.for__item-title {
    color: rgba(255, 255, 255, 1);
    font-size: 34px;
    font-weight: 600;}
.for__item_big {
    grid-column: span 6;}
.for__item_1 {
    background-image: url(./img/room1.png);}
.for__item_2 {
    background-image: url(./img/room2.png);}
.for__item_3 {
    background-image: url(./img/room3.png);}
.for__item_4 {
    background-image: url(./img/room4.png);}
.for__item_5 {
    background-image: url(./img/room5.png);}

.block-title {
    color: rgba(0, 0, 0, 1);
    font-size: 48px;
    font-weight: 600;
    margin-top: 64px;
    margin-bottom: 32px;}

.product-content {
    display: flex;
    column-gap: 32px;
    row-gap: 56px;
    flex-wrap: wrap;}

.product-content-catalog {
    row-gap: 48px;
}

.product {
    width: 378px;
    display: flex;
    flex-direction: column;}

.product__container {
    position: relative;
    display: inline-block;}

.product__container:hover .product__icons-box {
    opacity: 1;}

.product__img {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    position: relative;}

.product__icons-box {
    position: absolute;
    display: flex;
    gap: 21px;
    top: 10px; 
    right: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;}

.product__icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    outline: none;}

.product__icon:hover {
    transform: scale(1.2);
    transition: 0.3s;
}



.product__title {
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    text-align: left;
    margin-bottom: 8px;
    min-height: 31px;}
.product__about {
    color: rgba(136, 136, 136, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
    margin-bottom: 12px;
    min-height: 37px;}
.product__box-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap:32px;}
.product__price {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #050505;
    min-height: 37px;}
.product__price_sale {
    text-decoration-line: line-through;
    color: #888888;}


.link-box {
    margin-top: 31px;
    margin-bottom: 64px;}
.link-box__link {
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration-line: underline;
    display: block;}
.link-box__link:hover {
    color: rgba(136, 136, 136, 1);
    text-decoration-line:none;
    transition: 1s;}

.footer {
    background: rgba(247, 246, 246, 1);
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-top: 32px;
    flex-wrap: wrap;

&__logo {
    width: 198px;
    height: 44px;
    display: flex;
    align-items: center;}

&__content {
    width: 792px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 71px;}

&__info {
    display: flex;
    justify-content: space-between;
    gap:129px;
    flex-wrap: wrap;}

&__title {
    font-weight: 500;
    font-size: 24px;
    color: #000000;}

&__item-link {
    font-weight: 500;
    font-size: 14px;
    color: #888888;
    list-style-type:none;
    display: flex;
    gap:12px;}

&__item-link:hover {
    text-decoration-line: underline;
    color:black;
    transition: 1s;}

&__item {
    display: flex;
    flex-direction: column;
    gap:12px;
    flex-wrap: wrap;}

&__icons {
    display: flex;
    flex-direction: row;
    gap:20px;

    &-link:hover path {
        fill: #000000;}
    &-link {
        transition: all 1s;}
    &-link path {
        transition: all 1s;}
    }
    

&__form {
    display: flex;
    flex-direction: column;}

&__form-news {
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 8px;}

&__form-email {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 16px;
    font-weight: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #C4C4C4;
    width: 260px;
    height: 40px;
    outline: none;
    margin-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;}

&__form-button {
    background: rgba(222, 215, 215, 0.41);
    border: transparent;
    box-sizing: border-box;
    border-radius: 20px;
    width: 260px;
    height: 40px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #000000;}

&__form-button:hover {
    background: black;
    color: white;
    transition: 1s;}
}
/* Каталог */
.top-catalog{
    background: rgba(196, 196, 196, 1);
    background-image: url(./img/bg-catalog.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;}

.top__title-catalog {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin-top: 128px;}

.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 36px;}
.filter__link {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(0, 0, 0, 1);}

.filter__link-1 {
    color: rgba(0, 0, 0, 1);
    &:hover {
        text-decoration-line: underline;}}

.filter__right {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;}


.filter__select-controls {
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(196, 196, 196, 1);
    border-radius: 20px;
    appearance: none;
    background-image: url(./img/Polygon.svg);
    background-position: calc(100% - 22px);
    background-size: 20px;
    background-repeat: no-repeat;
    padding-left: 23px;
    font-family: "Montserrat", sans-serif;

    &:hover {
        outline: none;
        border: 1px solid rgb(196, 196, 196);}

    &:focus {
        outline: none;}
}

.catalog-controls-1 {
    width: 182px;
    height: 40px;
    background-color: transparent;}
    
.catalog-controls-2 {
    width: 227px;
    height: 40px;
    background-color: transparent;
    
    &option {
        font-size: 14px;
        outline: none;
        background-color: transparent;}
}

    // Форма для фильтрации
.filter__select {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;}
    

.filter-form {
    position:absolute;
    right: 0px;
    top: 54px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 36px;
    z-index: 1;}

.btn-form {
    width: 182px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(196, 196, 196, 1);
    padding-left: 23px;}

.filter-form__content {
    min-width: 445.5px;
    max-height: 548px;
    padding: 40px 48px 40px 48px;
    box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px 65px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    text-align: left;
    font-weight: 400;}

.filter-form__fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0;
    border: none;}

// Сроки доставки (Фильтр)

.filter-form__legend{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;}

.radio {
    display: flex;
    align-items: center;
    gap:10px;}

.radio__input {
   display: none;}

.radio__label {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    cursor: pointer;
    border-color: rgba(136, 136, 136, 1);}

.filter-form__fieldset--type {
    padding-right: 40px;
    margin-bottom: 67px;}

.radio__label::before {
    content: '';
    width: 15px;
    height: 15px;
    border: 1px solid #888888;;
    position: absolute; 
    border-radius: 50%;
    left: 0; 
    background-color: #fff;}

.radio__input:checked + .radio__label::before {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox=%220 0 7.30078 7.06775%22 xmlns=%22http://www.w3.org/2000/svg%22 width=%227.300781%22 height=%227.067749%22 fill=%22none%22%3E%3Cpath d=%22M0.353516 2.72363L3.85352 6.22363L6.85352 0.223633%22 stroke=%22%23000%22 stroke-width=%221%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #000;}

// Цена (Фильтр)

.range {
    display: flex;
    flex-direction: column;
    gap: 14px;}

.range__input {
    width: 190px;
    height: 8px;
    overflow: hidden;
    outline: none;}

.range__input,
.range__input::-webkit-slider-runnable-track,
.range__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;}

.range__input::-webkit-slider-runnable-track {
    width: 200px;
    height: 1px;
    background:#000000;}

.range__input:nth-child(2)::-webkit-slider-runnable-track {
    background: none;}

.range__input::-webkit-slider-thumb {
    position: relative;
    height: 8px;
    width: 8px;
    margin-top: -4px;
    border: 1px solid rgba(0, 0, 0, 1);
    background:#000000;
    border-radius: 25px;
    cursor: pointer;
    z-index: 1;}

.range__input::-webkit-slider-thumb:active {
    cursor:grabbing;}

.range__input:nth-child(1)::-webkit-slider-thumb {
   z-index: 2;}

.range__slider {
    font-family: sans-serif;
    font-size: 14px;
    position: relative;
    height: 20px;
    width: 210px;
    display: inline-block;
    margin-top: -5px;}

.range__slider input {
    position: absolute;
    padding-top: 14px;}

.radio__label {
    font-size: 14px;}

// Цвет (Фильтр)

.color-options {
    display: flex;
    flex-wrap: wrap;
    max-width: 190px;
    gap: 14px;}

.color-options__checkbox {
    height: 15px;
    width: 15px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;}

.checkbox__input {
    display: none;}

.checkbox__label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    font-size: 14px;}

.checkbox__label::before {
    content: "";
    display: inline-block;
    height: 14px;
    width: 14px;
    border: 1px solid #888888;
    position: absolute;
    left: 0;
    background-color: #fff;}

.checkbox__input:checked + .checkbox__label::before {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox=%220 0 7.30078 7.06775%22 xmlns=%22http://www.w3.org/2000/svg%22 width=%227.300781%22 height=%227.067749%22 fill=%22none%22%3E%3Cpath d=%22M0.353516 2.72363L3.85352 6.22363L6.85352 0.223633%22 stroke=%22%23000%22 stroke-width=%221%22/%3E%3C/svg%3E');
    border-color: #000000;
    background-repeat: no-repeat;
    background-position: center}

.checkbox__label--white::before {
    background-color: #fff;
    border-color: #808080;}

.checkbox__label--black::before {
    background-color: black;
    border-color: black;}

.checkbox__label--gray::before {
    background-color: gray;
    border-color: gray;}

.checkbox__label--red::before {
    background-color: red;
    border-color: red;}

.checkbox__label--orange::before {
    background-color:orange;
    border-color: orange;}

.checkbox__label--yellow::before {
    background-color:yellow;
    border-color: yellow;}

.checkbox__label--green::before {
    background-color: rgba(0, 191, 42, 1);
    border-color: rgba(0, 191, 42, 1);}

.checkbox__label--aquamarine::before {
    background-color: rgba(28, 204, 151, 1);
    border-color:rgba(28, 204, 151, 1);}

.checkbox__label--lblue::before {
    background-color:rgba(0, 159, 227, 1);
    border-color: rgba(0, 159, 227, 1);}

.checkbox__label--blue::before {
    background-color:blue;
    border-color: blue;}

.checkbox__label--violet::before {
    background-color: rgba(103, 16, 214, 1);
    border-color:rgba(103, 16, 214, 1);}

.checkbox__label--purple::before {
    background-color: rgba(157, 13, 181, 1);
    border-color: rgba(157, 13, 181, 1);}

.checkbox__label--pink::before {
    background-color: rgba(216, 154, 255, 1);
    border-color:rgba(216, 154, 255, 1);}

.checkbox__label--lpink::before {
    background-color: rgba(255, 101, 166, 1);
    border-color:rgba(255, 101, 166, 1);}

.checkbox__input:checked + .checkbox__label--black::before,
.checkbox__input:checked + .checkbox__label--blue::before,
.checkbox__input:checked + .checkbox__label--purple::before,
.checkbox__input:checked + .checkbox__label--violet::before {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox=%220 0 7.30078 7.06775%22 xmlns=%22http://www.w3.org/2000/svg%22 width=%227.300781%22 height=%227.067749%22 fill=%22none%22%3E%3Cpath d=%22M0.353516 2.72363L3.85352 6.22363L6.85352 0.223633%22 stroke=%22%23FFFFFF%22 stroke-width=%221%22/%3E%3C/svg%3E');
    border-color: #000000;
    background-repeat: no-repeat;}

// Тип комнаты (Фильтр)

.type-room__input {
    display: none;}

.type-room__label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    font-size: 14px;}

.type-room__label::before {
    content: "";
    display: inline-block;
    height: 14px;
    width: 14px;
    border: 1px solid #888888;
    position: absolute;
    left: 0;
    background-color: #fff;}

.type-room__input:checked + .type-room__label::before {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox=%220 0 7.30078 7.06775%22 xmlns=%22http://www.w3.org/2000/svg%22 width=%227.300781%22 height=%227.067749%22 fill=%22none%22%3E%3Cpath d=%22M0.353516 2.72363L3.85352 6.22363L6.85352 0.223633%22 stroke=%22%23000%22 stroke-width=%221%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: center;
    border-color: #000000;}

.filter-form__button {
    width: 190px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 1);      box-sizing: border-box;
    border-radius: 20px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    margin-top: 0px;}

.filter-form__button:hover {
    background: rgba(0, 0, 0, 1);
    color: white;
    transition: 1s;
    cursor: pointer;}


@import "cart";
@import "tablet";
@import "mobile";
